@model IscConcursLr1.Statements

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація</h1>

<div>
    <h4>Заяви</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StFacultiesSpecialtiesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StFacultiesSpecialtiesNavigation.FacultiesSpecialtiesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StStudentNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
